{:deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :paths ["src" "resources"]
 :aliases {:synth {:main-opts ["-m" "stedi.cdk.main" "synth"]}
           :cdk {:extra-paths ["cdk"]
                 :extra-deps  {stedi/cdk-clj {:git/url "https://github.com/StediInc/cdk-clj.git"
                                              :sha     "8de0174c47ef456f0c22a6bec0ca9845844cc818"}
                               software.amazon.awscdk/s3 {:mvn/version "1.20.0"}
                               software.amazon.awscdk/s3-deployment {:mvn/version "1.20.0"}}}
           :target {:extra-paths ["target"]}}}
